@media print {
  @page {
    color: grey;
    counter-increment: page;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
    margin: 10mm 10mm 20mm 10mm;
    size: a4 portrait;
    white-space: pre;
    @bottom-left {
      content: "© Alexander Schilling";
    }
    @bottom-center {
      content: "Alinex Guide";
    }
    @bottom-right {
      content: "Page " counter(page);
    }
  }
}
